{% extends "base.html" %}

{% block content %}

<div class="breadcrumbs mb-4">
  <ul>
    <li>
      <a href="{{ get_url(path='/') }}">
        <svg class="w-4 h-4 mr-2 stroke-current" viewBox="0 0 24 24">
          <path fill="currentColor" d="M12 5.69L17 10.19V18H15V12H9V18H7V10.19L12 5.69M12 3L2 12H5V20H11V14H13V20H19V12H22" />
        </svg>
        Home
      </a>
    </li>
    <li>
      <a class="pointer-events-none" href="{{ page.permalink | safe }}">
        <svg class="w-4 h-4 mr-2 stroke-current" viewBox="0 0 24 24">
          <path fill="currentColor" d="M5,3C3.89,3 3,3.89 3,5V19C3,20.11 3.89,21 5,21H19C20.11,21 21,20.11 21,19V5C21,3.89 20.11,3 19,3H5M5,5H19V19H5V5M7,7V9H17V7H7M7,11V13H17V11H7M7,15V17H14V15H7Z" />
        </svg>
        {{ page.title }}
      </a>
    </li>
  </ul>
</div>

<div class="flex flex-col sm:flex-row gap-8 md:gap-12">
  <div class="flex flex-col items-center gap-3">
    <div class="avatar">
      <div class="w-48 rounded-full">
        {% set image = resize_image(path=config.extra.profile_picture, op="fit_width", width=215, format="webp") %}
        <img alt="A picture of me, showing only from the neck up. I'm wearing a white shirt, and the background is a bluish sky." src="{{ image.url }}" />
      </div>
    </div>

    <div class="flex flex-col items-center">
      <h1 class="text-3xl font-bold text-center">
        {{ config.extra.author_name }}
      </h1>
      <span class="text-center">
        {{ config.extra.identity_phrase }}
      </span>
    </div>
  </div>

  <div class="markdown prose-p:last:mb-0 self-center">
    {% set bio = get_page(path="pages/about-me/bio.md") %}
    <h1 class="mb-0">
      {{ bio.title }}
    </h1>
    {{ bio.content | safe }}
  </div>
</div>

<div class="flex flex-col sm:flex-row justify-between gap-6 mt-8">
  <div>
    <h2 class="font-bold text-2xl mb-2">
      Interests
    </h2>
    <ul class="list-disc pl-4 flex flex-col gap-3">
      {% for interest in config.extra.interests %}
        <li>
          {{ interest }}
        </li>
      {% endfor %}
    </ul>
  </div>

  <div>
    <h2 class="font-bold text-2xl mb-2">
      Education
    </h2>
    <ul class="flex flex-col gap-2">
      {% for course in config.extra.education.courses %}
        <li class="flex flex-col flex-wrap gap-2 align-middle">
          <p>
            <svg class="inline-block w-6 align-top"  viewBox="0 0 24 24">
              <path fill="currentColor" d="M12 3L1 9L5 11.18V17.18L12 21L19 17.18V11.18L21 10.09V17H23V9L12 3M18.82 9L12 12.72L5.18 9L12 5.28L18.82 9M17 16L12 18.72L7 16V12.27L12 15L17 12.27V16Z" />
            </svg>
            {{ course.name }}
            <span class="inline-block">
              ({{ course.dates }})
            </span>
          </p>
          <p>
            {{ course.institution }}
          </p>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>

<div class="markdown mt-8">
  {% set projects = get_page(path="pages/about-me/projects.md") %}
  <h2>
    {{ projects.title }}
  </h2>
  {{ projects.content | safe }}
</div>

<div class="markdown mt-8">
  {{ page.content | safe }}
</div>

{% endblock content %}