{% extends "base.html" %}
{% import "macros/social_links.html" as social_links %}

{% block content %}
<a class="text-4xl font-bold leading-7">
  {{ page.title }}
</a>

<p class="text-xl">
  <span>
    {{ config.extra.author_name }}
  </span>

  <span class="p-2"></span>

  <span>
    {{ page.date | date(format="%B %d, %Y") }}
  </span>
</p>

<article class="prose-xl lg:prose-2xl mt-5">
  {{ page.content | safe }}
</article>

{{ social_links::social_links(social_config=config.extra.social) }}
{% endblock content %}