{% import "macros/components.html" as components %}

<!DOCTYPE html>
<html lang="en" data-theme="dark">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ get_url(path='styles/styles.css') | safe }}" />
  {% set favicon = resize_image(path='static/images/avatar.jpeg', format="png", width=32, height=32) %}
  <link rel="shortcut icon" href="{{ favicon.url }}" type="image/png">
  <link rel="icon" href="{{ favicon.url }}" type="image/png">
  <title>Demetrius's Blog</title>
</head>

<body class="min-h-screen flex flex-col">
  {{ components::navbar(config=config) }}
  
  <div class="container mx-auto mt-5 px-4 sm:px-6 lg:px-8">
    {% block content %} {% endblock %}
  </div>

  {{ components::footer(config=config.extra.social) }}
</body>

<script>
  const colorTheme = {
    get() {
      const colorTheme = localStorage.getItem('colorTheme') || 'light';
  
      return colorTheme;
    },
    set(theme) {
      localStorage.setItem('colorTheme', theme);
    },
    toggle() {
      const currentTheme = this.get();
      const toggledTheme = currentTheme === 'light' ? 'dark' : 'light';
  
      document.documentElement.setAttribute('data-theme', toggledTheme);
      this.set(toggledTheme);
    },
    init() {
      const colorTheme = this.get();
      document.documentElement.setAttribute('data-theme', colorTheme);
    }
  }

  colorTheme.init();

  document.getElementById('themeSwitcher').addEventListener('click', () => {
    colorTheme.toggle();
  })
</script>

</html>