<!DOCTYPE html>
<html lang="en" data-theme="dark">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ get_url(path='styles/styles.css') | safe }}" />
  <title>Demetrius's Blog</title>
</head>

<body>

  <nav class="navbar gap-2 flex-col md:flex-row">
    <div class="flex-1">
      <a href="{{ config.base_url }}" class="btn btn-ghost normal-case text-xl">Demetrius's Blog</a>
    </div>
    <div class="flex-none gap-2 flex-wrap">
      <a href="{{ get_url(path='/about/', trailing_slash=False) }}" class="btn btn-ghost">
        About
      </a>
      <a href="{{ get_url(path='/about/', trailing_slash=False) }}" class="btn btn-ghost">
        Posts
      </a>
      <a href="{{ get_url(path='/about/', trailing_slash=False) }}" class="btn btn-ghost">
        Tags
      </a>
      <button title="Switch theme" id="themeSwitcher" class="btn btn-ghost">
        <svg style="width:24px;height:24px" viewBox="0 0 24 24">
          <path fill="currentColor" d="M7.5,2C5.71,3.15 4.5,5.18 4.5,7.5C4.5,9.82 5.71,11.85 7.53,13C4.46,13 2,10.54 2,7.5A5.5,5.5 0 0,1 7.5,2M19.07,3.5L20.5,4.93L4.93,20.5L3.5,19.07L19.07,3.5M12.89,5.93L11.41,5L9.97,6L10.39,4.3L9,3.24L10.75,3.12L11.33,1.47L12,3.1L13.73,3.13L12.38,4.26L12.89,5.93M9.59,9.54L8.43,8.81L7.31,9.59L7.65,8.27L6.56,7.44L7.92,7.35L8.37,6.06L8.88,7.33L10.24,7.36L9.19,8.23L9.59,9.54M19,13.5A5.5,5.5 0 0,1 13.5,19C12.28,19 11.15,18.6 10.24,17.93L17.93,10.24C18.6,11.15 19,12.28 19,13.5M14.6,20.08L17.37,18.93L17.13,22.28L14.6,20.08M18.93,17.38L20.08,14.61L22.28,17.15L18.93,17.38M20.08,12.42L18.94,9.64L22.28,9.88L20.08,12.42M9.63,18.93L12.4,20.08L9.87,22.27L9.63,18.93Z" />
        </svg>
      </button>
    </div>
    <div class="relative">
      <div class="absolute pl-3 flex left-0 inset-y-0 items-center">
        <svg style="width:24px;height:24px" viewBox="0 0 24 24">
          <path fill="currentColor" d="M9.5,3A6.5,6.5 0 0,1 16,9.5C16,11.11 15.41,12.59 14.44,13.73L14.71,14H15.5L20.5,19L19,20.5L14,15.5V14.71L13.73,14.44C12.59,15.41 11.11,16 9.5,16A6.5,6.5 0 0,1 3,9.5A6.5,6.5 0 0,1 9.5,3M9.5,5C7,5 5,7 5,9.5C5,12 7,14 9.5,14C12,14 14,12 14,9.5C14,7 12,5 9.5,5Z" />
        </svg>
      </div>
      <input type="text" placeholder="Search" class="input input-bordered pl-10" />
    </div>
  </nav>

  <div class="container mx-auto mt-5 px-4 sm:px-6 lg:px-8">
    {% block content %} {% endblock %}
  </div>

</body>

<script>
  const colorTheme = {
    get() {
      const colorTheme = localStorage.getItem('colorTheme') || 'light';
  
      return colorTheme;
    },
    set(theme) {
      localStorage.setItem('colorTheme', theme);
    },
    toggle() {
      const currentTheme = this.get();
      const toggledTheme = currentTheme === 'light' ? 'dark' : 'light';
  
      document.documentElement.setAttribute('data-theme', toggledTheme);
      this.set(toggledTheme);
    },
    init() {
      const colorTheme = this.get();
      document.documentElement.setAttribute('data-theme', colorTheme);
    }
  }

  colorTheme.init();

  document.getElementById('themeSwitcher').addEventListener('click', () => {
    colorTheme.toggle();
  })
</script>

</html>