{% import "macros/components.html" as components %}

<!DOCTYPE html>
<html lang="en" data-theme="light">

<head>
  {% block head %}
    {% block seo %}
      {{ components::seo() }}
    {% endblock seo %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ get_url(path='css/styles.css') | safe }}" />
    {% set favicon = resize_image(path='static/images/avatar.jpeg', format="png", width=32, height=32) %}
    <link rel="shortcut icon" href="{{ favicon.url }}" type="image/png">
    <link rel="icon" href="{{ favicon.url }}" type="image/png">
    <script src="{{ get_url(path='js/theme.min.js') }}"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.3/dist/katex.min.css" integrity="sha384-Juol1FqnotbkyZUT5Z7gUPjQ9gzlwCENvUZTpQBAPxtusdwFLRy382PSDx5UUJ4/" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.3/dist/katex.min.js" integrity="sha384-97gW6UIJxnlKemYavrqDHSX3SiygeOwIZhwyOKRfSaf0JWKRVj9hLASHgFTzT+0O" crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.3/dist/contrib/auto-render.min.js" integrity="sha384-+VBxd3r6XgURycqtZ117nYw44OOcIax56Z4dCRWbxyPt0Koah1uHoK0o4+/RRE05" crossorigin="anonymous"></script>
    <noscript>
      <style>
        .requires-js {
          display: none !important;
        }

        .no-js-flex {
          display: flex !important;
        }
      </style>
    </noscript>
  {% endblock head %}
</head>

<body class="min-h-screen flex flex-col">
  {{ components::navbar(config=config) }}

  <main class="container max-w-6xl mt-2 mb-8 mx-auto px-4">
    <div class="hidden alert alert-info shadow-lg my-4 no-js-flex">
      <div>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="stroke-current flex-shrink-0 w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
        <span>
          To use features, such as
          <strong>dark mode</strong>,
          you must enable JavaScript.
        </span>
      </div>
    </div>

    {% block content %} {% endblock %}
  </main>

  {{ components::footer(config=config.extra.social) }}
  {% block script %}
    <script>theme.attachEventListener()</script>
    <script>
      document.addEventListener("DOMContentLoaded", function() {
        renderMathInElement(document.body, {
          delimiters: [
            {left: '$$', right: '$$', display: true},
            {left: '$', right: '$', display: false},
          ],
          throwOnError : false
        });
      });
    </script>
  {% endblock script %}
</body>

</html>