{% import "macros/components.html" as components %}

{% extends "base.html" %}

{% block content %}
{% set posts_subsection = section.subsections | first %}
{% set subsection = get_section(path=posts_subsection) %}
<div class="mb-8">
  <h1 class="text-5xl font-extrabold">Recent posts</h1>
  <a class="link" href="{{ get_url(path='posts', trailing_slash=false) }}">
    See all posts
  </a>
</div>
<ul class="grid grid-cols-1 gap-6">
  {% for page in subsection.pages %}
  {{ components::post_summary(page=page) }}
  {% endfor %}
</ul>
{% endblock content %}