{% extends "base.html" %}

{% block content %}

<div class="breadcrumbs mb-4">
  <ul>
    <li>
      <a href="{{ get_url(path='/') }}">
        <svg class="w-4 h-4 mr-2 stroke-current" viewBox="0 0 24 24">
          <path fill="currentColor" d="M12 5.69L17 10.19V18H15V12H9V18H7V10.19L12 5.69M12 3L2 12H5V20H11V14H13V20H19V12H22" />
        </svg>
        Home
      </a>
    </li>
    <li>
      <a class="pointer-events-none" href="{{ get_url(path='/posts', trailing_slash=false) }}">
        <svg class="w-4 h-4 mr-2 stroke-current" viewBox="0 0 24 24">
          <path fill="currentColor" d="M20,18H4V8H20M20,6H12L10,4H4C2.89,4 2,4.89 2,6V18A2,2 0 0,0 4,20H20A2,2 0 0,0 22,18V8C22,6.89 21.1,6 20,6Z" />
        </svg>
        Posts
      </a>
    </li>
  </ul>
</div>

<div class="mb-4">
  <h1 class="lg:text-5xl text-4xl font-extrabold">Posts grouped by year</h1>
</div>

<div class="flex flex-col gap-6">
  {% for year, posts in section.pages | group_by(attribute="year") %}
    <div>
      <div class="divider text-3xl font-bold mb-4">
        {{ year }}
      </div>

      <ul class="grid grid-cols-1 gap-6">
        {% for post in posts %}
          <li>
            {{ components::post_summary(page=post) }}
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endfor %}
</div>

{% endblock content %}